.page.theme_light {
  --bg-color: #fff1f7;
  --bg-image: url(../images/cover-image-light.png);
  --color-title: #ffc2e6;
  --accent-color: #353430;
  --bg-color-text: #ff0070;
  --color-subtitle-h2: #353430;
  --color-subtitle-h3: #353430;
  --color-text: #353430;
  --global-font-family: "IBM Plex Mono";
  --font-size-theme-menu-item: 18px;
  --title-decor: #ff8dcb;
  --color-button-hover: rgb(50 49 45 / 0.4);
}

.page.theme_light .rec_zapisi {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --bg-image: url(../images/cover-image-light.png);
    --color-title: #ffc2e6;
    --accent-color: #353430;
    --bg-color-text: #ff0070;
    --color-subtitle-h2: #353430;
    --color-subtitle-h3: #353430;
    --color-text: #353430;
    --global-font-family: "IBM Plex Mono";
    --font-size-theme-menu-item: 18px;
    --title-decor: #ff8dcb;
    --color-button-hover: rgb(50 49 45 / 0.4);
  }

  .rec_zapisi {
    display: none;
  }
}
